.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.person {
  margin-top: 11rem;
  width: 100%;
  align-self: flex-start;
  text-align: center;
}

.learn {
  margin-top: 5rem;
  align-self: center;
  text-align: center;
}

.learn h1 {
  font-size: 1.3rem;
  font-weight: bold;
}

.learn p {
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 1.2rem;
}

.screensGetStarted {
  width: 100%;
  align-self: flex-end;
}

.scrensNav {
  margin-top: 5rem;
  align-self: flex-end;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1rem;
}

.unselectScreen {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  border: 2px solid #979797;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.selectScreen {
  width: 2rem;
  height: 0.9rem;
  border: 2px solid #979797;
  background: #979797;
  border-radius: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
